.form-main-login {
    text-decoration: none;

}

.login-btn {
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 50px;
}

.form-input {
    border-radius: 3px;
    margin-top: 1.5vh;
    height: 6vh;
    /*size: 35vm ;*/
    width: 30%;
    initial-letter: normal;
    text-indent: 1.5vh;
}

